<div class="item">
    <div>Ano</div>
    <div>
        <input 
            type="text" 
            name="ano"
            placeholder="Ano"
            value="{{ capacidade_producao.ano }}"
        >
    </div>
</div>

<div class="item">
    <div>Capacidade</div>
    <div>
        <input 
            type="text"
            name="capacidade"
            placeholder="Capacidade"
            value="{{ capacidade_producao.capacidade }}"
        >
    </div>
</div>

<div class="item">
    <div>Mês</div>
    <div>
        <input 
            type="text" 
            name="mes"
            placeholder="Mês"
            value="{{ capacidade_producao.mes }}"
        >
    </div>
</div>

<div class="item">
    <div>Categoria</div>
    <div>
        <label>
            <input 
                type="radio" 
                name="category"
                value="Servidor"
                {% if capacidade_producao.category === 'Servidor' %}
                    checked
                {% endif %}
            >
            Servidor
        </label>

        <label>
            <input 
                type="radio" 
                name="category"
                value="Mini PC"
                {% if capacidade_producao.category === 'Mini PC' %}
                    checked
                {% endif %}
            >
            Mini PC
        </label>

        <label>
            <input 
                type="radio" 
                name="category"
                value="Outros"
                {% if capacidade_producao.category === 'Outros' %}
                    checked
                {% endif %}
            >
            Outros
        </label>
    </div>
</div>

<button type="submit">Salvar</button>
